{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"><b style="font-size: 20px;">İletişim</b></div>
                        <div class="card-category"></div>
                    </div>
                    <div class="card-body">
                        <table class="table table-typo">
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="largeSelect">Sirket Telefonu</label>

                                    </td>
                                    <td><span class="h5">0212 587 14 25</span></td>
                                </tr>
                            <tr>
                                    <td>
                                        <label for="largeSelect">Cep telefonu</label>

                                    </td>
                                    <td><span class="h5">0536 723 15 44</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="largeSelect">E-posta</label>

                                    </td>
                                    <td><span class="h5">ersintarik89@gmail.com</span></td>
                                </tr>
                            </tr>
                                <tr>
                                    <td>
                                        <label for="largeSelect">Adres</label>

                                    </td>
                                    <td><span class="h5">İzmir</span></td>
                                </tr>

                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

    </div></div>
    </div>
    </div>
{% endblock%}